<div class="user-details">
  <h1> Selected Publications </h1>
</div>
<div class="user-projects">
  <div class="contents">
    <ul>
      <li> {Danaee, A., de Lamare, R. C., & Nascimento, V. H. (2021, July). Energy-Efficient Distributed Learning with Adaptive Bias Compensation for Coarsely Quantized Signals. In 2021 IEEE Statistical Signal Processing Workshop (SSP) (pp. 61-65). IEEE.}</li>
    </ul>
    <a class="project-link" href="https://ieeexplore.ieee.org/abstract/document/9513807/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <ul>
      <li> {Danaee, A., de Lamare, R. C., & Nascimento, V. H. (2021). Energy-efficient distributed learning with coarsely quantized signals. IEEE Signal Processing Letters, 28, 329-333.}</li>
    </ul>
    <a class="project-link" href="https://ieeexplore.ieee.org/abstract/document/9321486/">Check it out</a>
  </div>
</div>
