<div class="user-details">
  <h1> Selected Publications </h1>
</div>
<div class="user-details">
  <div class="contents">
    <ul>
      <li> <b>Danaee, A.<b>, de Lamare, R. C., & Nascimento, V. H. (2021, July). <i>Energy-Efficient Distributed Learning with Adaptive Bias Compensation for Coarsely Quantized Signals.<i> In 2021 IEEE Statistical Signal Processing Workshop (SSP) (pp. 61-65). IEEE.</li>
    </ul>
    <a class="project-link" href="https://ieeexplore.ieee.org/abstract/document/9513807/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <ul>
      <li> <b>Danaee, A.<b>, de Lamare, R. C., & Nascimento, V. H. (2021). <i>Energy-efficient distributed learning with coarsely quantized signals.<i> IEEE Signal Processing Letters, 28, 329-333.</li>
    </ul>
    <a class="project-link" href="https://ieeexplore.ieee.org/abstract/document/9321486/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <ul>
      <li> <b>Danaee, A.<b>, de Lamare, R. C., & Nascimento, V. H. (2020, November). <i>Energy-Efficient Distributed Recursive Least Squares Learning with Coarsely Quantized Signals.<i> In 2020 54th Asilomar Conference on Signals, Systems, and Computers (pp. 1533-1537). IEEE.</li>
    </ul>
    <a class="project-link" href="https://ieeexplore.ieee.org/abstract/document/9443394/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <ul>
      <li> Abadi, M. S. E., & <b>Danaee, A. R.<b> (2014). <i>Low computational complexity family of affine projection algorithms over adaptive distributed incremental networks.<i> AEU-International Journal of Electronics and Communications, 68(2), 97-110.</li>
    </ul>
    <a class="project-link" href="https://www.sciencedirect.com/science/article/abs/pii/S1434841113001817">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <ul>
      <li> <b>Danaee, A. R.<b>, & Abadi, M. S. E. (2013, May). <i>Adaptive distributed incremental networks based on the selective partial update affine projection algorithm.<i> In 2013 21st Iranian Conference on Electrical Engineering (ICEE) (pp. 1-4). IEEE.</li>
    </ul>
    <a class="project-link" href="https://ieeexplore.ieee.org/abstract/document/6599718/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <ul>
      <li> Abadi, M. S. E., & <b>Danaee, A. R.<b> (2012, May). <i>Selective partial update normalized least mean square algorithms for distributed estimation over an adaptive incremental network.<i> In 20th Iranian Conference on Electrical Engineering (ICEE2012) (pp. 1329-1333). IEEE.</li>
    </ul>
    <a class="project-link" href="https://ieeexplore.ieee.org/abstract/document/6292562/">Check it out</a>
  </div>
</div>
