:root {
	--background-color: #34495E;
	--text-color: #E0F1FE;
	--nav-color: #3CB371;
	--sn-color: #00CED1;
	--tr-color: #C0392B;
}


@media (prefers-color-scheme: light) {
	:root {
		--background-color: #EEF7FE;
		--text-color: #1C2833;
		--sn-color: #008080;
	}
}


body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 54px;
	text-align: justify;
	max-width: 100%;
	line-height: 2;
}

nav {
	background-color: var(--nav-color);
}

button:focus {
	outline: none;
}

h1,
h2,
h3,
h4 {
	color: var(--text-color);
}
h1 b,
h2 b,
h3 b,
h4 b{
	color: var(--nav-color);
}

p {
	width: 90%;
}
p b {
	color: var(--tr-color);
}

h1 {
	font-size: 6rem;
	line-height: 5.5rem;
}

h2 {
	font-size: 3.5rem;
}


.subheading {
	font-size: 1.35rem;
	font-weight: 600;
}


.social-icons a {
	color: var(--tr-color);
	transition: color .3s;
}

.social-icons a:hover {
	color: var(--text-color); 
}


a {
	color: var(--sn-color);
	transition: color .3s;
}

a:hover {
	color: var(--tr-color);
}


#sideNav .navbar-nav .nav-item .nav-link {
	font-weight: 800;
}

.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover {
	color: var(--tr-color);
}

.navbar-dark .navbar-nav .active > .nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show > .nav-link {
	color: rgba(48, 61, 70, 1);
}

section.resume-section {
	border-bottom: 1px solid rgba(48, 61, 70, .1);
	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
	min-width: none;
}

/* section.resume-section .resume-item .resume-date { min-width: none; } */

.text-nav-color { color: var(--nav-color) !important; }


footer {
  background: var(--nav-color);
  text-align: center;
  line-height: 1.2;
  width: 100%;
  height: 40px;
}


/*************************
      MEDIA QUERIES
*************************/

@media (min-width: 992px) {
	body {
		padding-top: 0;
		padding-left: 20rem;
	}

	#sideNav {
		display: flex;
		flex-direction: column;
		height: 100vh;
		left: 0;
		position: fixed;
		text-align: center;
		top: 0;
		width: 20rem;
	}

	#sideNav .navbar-brand {
		display: flex;
		margin: auto auto 0;
	}

	#sideNav .navbar-brand .profile-pic {
		max-width: 15rem;
		max-height: 15rem;
		border: .5rem solid rgba(48, 61, 70, .4);
		box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .4);
	}

	#sideNav .navbar-collapse {
		display: flex;
		align-items: flex-start;
		flex-grow: 0;
		width: 100%;
		margin-bottom: auto;
	}

	#sideNav .navbar-collapse .navbar-nav {
		flex-direction: column;
		width: 100%;
	}

	#sideNav .navbar-collapse .navbar-nav .nav-item { display: block; }
	#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link { display: block; }

	section.resume-section {
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
}

@media (min-width: 768px) {
	section.resume-section { min-height: 100vh; }
	section.resume-section .resume-item .resume-date { min-width: 18rem; }
}

@media (max-width: 576px) {
	h1 {
		font-size: 4.8rem;
		line-height: 5rem;
	}
}

@media (max-width: 375px) {
	h1 {
		font-size: 4.2rem;
		line-height: 4.5rem;
	}
}

@media (max-width: 320px) {
	h1 {
		font-size: 3.8rem;
		line-height: 4rem;
	}
}
